body {
    background-color: #000000;
}

.screen {
    background-color: black;
    background-image: url(./assets/images/wp1822737.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: bottom;
}

.pad-bot {
    padding-bottom: 50%;
}

.locations-list {
    list-style: none;
}

.home-page {
    background-image: none;
}

.chars-card-body {
    background-color: #B7E4F9FF;
}

.homepg {
    height: 550px;
}

.homebg {
    max-height: 100%;
    display: flex;
    margin: 0 auto;
    filter: drop-shadow(0 0 20px #B7E4F9FF);
}