body {
    background-color: black;
}

.screen {
    background-color: black;
    background-image: url(./assets/images/wp1822737.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: bottom;
}

.pad-bot {
    padding-bottom: 50%;
}

.locations-list {
    list-style: none;
}

.home-page {
    background-image: none;
}

.chars-card-body {
    background-color: #B7E4F9FF;
}

.homebg {
    height: 550px;
    background-image: url(./assets/images/pedia.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}