@font-face {
    font-family: "get_schwifty";
    src: local("get_schwifty"),
      url("./assets/fonts/get_schwifty.ttf") format("truetype");
		font-weight: bold;
}


body {
    background-color: #000000;
    font-size: 25px;
}

.screen {
    background-color: black;
    background-image: url(./assets/images/wp1822737.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: bottom;
}

.pad-bot {
    padding-bottom: 50%;
}

.locations-list {
    list-style: none;
}

.home-page {
    background-image: none;
}

.chars-card-body {
    background-color: #b7e4f9ec;
}

.homepg {
    height: 550px;
}

.homebg {
    max-height: 100%;
    display: flex;
    margin: 0 auto;
    filter: drop-shadow(0 0 20px rgb(108, 223, 108));
}

.font-face {
	font-family: "get_schwifty";
}
.relative{
    position: relative;
}
.status {
    display: inline;
    position: absolute;
    max-width: 50%;
    right: 0px;
    top: 0px;
}
.menu-btn {
    background-color: rgb(8, 194, 194);
    filter: drop-shadow(0 0 12px rgb(108, 223, 108));
}